*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 70px;
}

.preloader{
    height: 100vh;
}

.preloader img{
    width: 100%;
    height: 100%;
}
.preloader.hide{
    display: none; 
}
section{
    margin: 0 auto;
}